@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Global styles */
.window-app {
  font-family: "Lora", serif;
}

.hide {
  display: none;
}

input.clear-input {
  border-width: 0;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input.clear-input:focus {
  outline: none;
}

.rank {
  counter-increment: my-awesome-counter 0;
  counter-reset: my-awesome-counter var(--rank);
}

.rank:before {
  content: counter(my-awesome-counter, upper-roman);
  margin-right: 5px;
}

.rollable:hover, .rollable:focus {
  color: #000;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to archetericalite sheets */
.archetericalite {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for ArchetericaLite (can be removed if not needed) */
}
.archetericalite .item-form {
  font-family: "Lora", serif;
}
.archetericalite .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.archetericalite .sheet-header .img-block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 150px;
  padding-right: 10px;
}
.archetericalite .sheet-header .img-block .profile-img {
  height: 100%;
  width: 100%;
}
.archetericalite .sheet-header .img-block .hp-bar {
  position: relative;
  top: -10px;
  height: 20px;
  overflow-y: visible;
}
.archetericalite .sheet-header .img-block .hp-bar progress {
  width: 100%;
}
.archetericalite .sheet-header .img-block .hp-bar .hp-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  top: -10px;
}
.archetericalite .sheet-header .img-block .hp-bar .hp-input * {
  text-align: center;
}
.archetericalite .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.archetericalite .sheet-header .header-fields.actor-fields {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.archetericalite .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.archetericalite .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.archetericalite .sheet-header .faction-block {
  grid-template-columns: auto 100px;
  gap: 25px;
}
.archetericalite .sheet-header .faction-block h2.faction-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 0;
}
.archetericalite .sheet-header .faction-block h2.faction-name input {
  border-bottom-width: 1px;
}
.archetericalite .sheet-header .faction-block button.check {
  height: 30px;
  margin: 0;
  border-style: solid;
  border-color: #777;
  border-width: 1px;
  text-shadow: none;
  font-family: "Lora", serif;
  font-weight: bold;
}
.archetericalite .sheet-header .faction-block button.check:focus {
  outline: none;
}
.archetericalite nav.sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  border-top-width: 2px;
  border-bottom: none;
}
.archetericalite nav.sheet-tabs a.item {
  background-color: rgba(165, 154, 132, 0.3);
  text-shadow: none;
}
.archetericalite nav.sheet-tabs a.item.active {
  background: none;
  text-shadow: none;
}
.archetericalite .sheet-body .block-header {
  position: relative;
}
.archetericalite .sheet-body .block-header a.item-add {
  position: absolute;
  top: 7px;
  right: 0;
}
.archetericalite .sheet-body .block-header a.item-add i {
  margin-right: 2px;
}
.archetericalite .sheet-body .block-header a.item-add i::before {
  position: relative;
  top: 1px;
}
.archetericalite .sheet-body .item-header {
  position: relative;
}
.archetericalite .sheet-body .item-header .item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.archetericalite .sheet-body .item-header .item-name h3 {
  margin: 0 3px;
  width: 100%;
  border: none;
}
.archetericalite .sheet-body .item-header .item-controls {
  position: absolute;
  top: 5px;
  right: 3px;
}
.archetericalite .sheet-body .combat .resource-content {
  display: inline;
}
.archetericalite .sheet-body .combat .resource-content i {
  margin-left: 5px;
}
.archetericalite .sheet-body .combat .rank {
  margin-left: 3px;
}
.archetericalite .sheet-body .mystical .resource-content {
  display: inline;
}
.archetericalite .sheet-body .riches-info {
  grid-area: 1/2/span 2/auto;
}
.archetericalite .sheet-body .biography {
  grid-area: 2/2/span 2/auto;
}
.archetericalite .sheet-body,
.archetericalite .sheet-body .tab,
.archetericalite .sheet-body .tab .editor {
  height: calc(100% - 2px);
}
.archetericalite .tox .tox-editor-container {
  background: #fff;
}
.archetericalite .tox .tox-edit-area {
  padding: 0 8px;
}
.archetericalite .window-content input[type=number] {
  max-width: 35px;
}
.archetericalite .resources {
  margin-bottom: 5px;
}
.archetericalite .resources .resource {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.archetericalite .resources .resource * {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.archetericalite .resource-label {
  font-weight: bold;
}
.archetericalite .items-header {
  -webkit-box-flex: 100px;
  -ms-flex: 100px auto;
  flex: 100px auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.archetericalite .items-header .item-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border: none;
}
.archetericalite .items-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.archetericalite .items-header .header-fields h1.item-name {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.archetericalite .items-header .header-fields h1.item-name input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.archetericalite .sheet-body .info-bar {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.archetericalite .sheet-body .editor-block {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.archetericalite .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.archetericalite .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.archetericalite .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.archetericalite .items-list .item-name h3, .archetericalite .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.archetericalite .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.archetericalite .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.archetericalite .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.archetericalite .items-list .item:last-child {
  border-bottom: none;
}
.archetericalite .items-list .item .item-name {
  color: #191813;
}
.archetericalite .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.archetericalite .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.archetericalite .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.archetericalite .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.archetericalite .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.archetericalite .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}