<div class="grid grid-2col">
  {{> "systems/archetericalite/templates/actor/parts/npc-talents.hbs"}}
  {{> "systems/archetericalite/templates/actor/parts/mystical-ability.hbs"}}
  {{> "systems/archetericalite/templates/actor/parts/negative.hbs"}}
  {{> "systems/archetericalite/templates/actor/parts/metamorphosis.hbs"}}
</div>
