<div class="grid grid-2col">
   {{> "systems/archetericalite/templates/actor/parts/combat-talent.hbs"}}
   <div>
      {{> "systems/archetericalite/templates/actor/parts/weapon.hbs"}}
      {{> "systems/archetericalite/templates/actor/parts/protection.hbs"}}
      {{> "systems/archetericalite/templates/actor/parts/loot.hbs"}}
   </div>
</div>
