<div class="grid grid-2col">
  <div>
    {{> "systems/archetericalite/templates/actor/parts/npc-talents.hbs"}}
    {{> "systems/archetericalite/templates/actor/parts/negative.hbs"}}
  </div>
  <div>
    {{> "systems/archetericalite/templates/actor/parts/mystical-ability.hbs"}}
    {{> "systems/archetericalite/templates/actor/parts/metamorphosis.hbs"}}
    {{> "systems/archetericalite/templates/actor/parts/trauma.hbs"}}
  </div>
</div>
