<div class="flexrow">
  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Imago'}}</label>
    <input type="number" name="system.mystical.imago" value="{{system.mystical.imago}}" data-dtype="Number"/>
  </div>
  <button class="check" data-type="narrative" type="button">{{localize 'ARCHETERICALITE.NarrativeTest'}}</button>
</div>

<div class="grid grid-2col">
  {{> "systems/archetericalite/templates/actor/parts/npc-talents.hbs"}}
  {{> "systems/archetericalite/templates/actor/parts/mystical-ability.hbs"}}
  {{> "systems/archetericalite/templates/actor/parts/negative.hbs"}}
  {{> "systems/archetericalite/templates/actor/parts/metamorphosis.hbs"}}
</div>
