<div class="grid grid-2col">
  {{> "systems/archetericalite/templates/actor/parts/combat-talent.hbs"}}
  <div>
    {{> "systems/archetericalite/templates/actor/parts/combat-rule.hbs"}}
    {{> "systems/archetericalite/templates/actor/parts/weapon.hbs"}}
    {{> "systems/archetericalite/templates/actor/parts/protection.hbs"}}
  </div>
  {{> "systems/archetericalite/templates/actor/parts/artifact.hbs"}}
  {{> "systems/archetericalite/templates/actor/parts/loot.hbs"}}
</div>
