.window-app {
  font-family: $font-primary;
}

.window-content {
  input[type="number"] {
    max-width: 35px;
  }

  input[type="text"] {
    width: auto;
  }
}

.archetericalite.sheet.actor {
  min-width: 700px;
  min-height: 600px;
}

.archetericalite.sheet.item {
  min-width: 600px;
  min-height: 400px;
}

input.clear-input {
  border-width: 0;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input.clear-input:focus {
  outline: none;
}

.rank {
  counter-increment: my-awesome-counter 0;
  counter-reset: my-awesome-counter var(--rank);
}

.rank:before {
  content: counter(my-awesome-counter, upper-roman);
  margin-right: 5px;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    cursor: pointer;
  }
}

.tox {
  min-height: 300px;
}

.editor {
  min-height: 200px;
}
