.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .img-block {
    flex: 1;
    min-width: 150px;
    padding-right: 10px;

    .profile-img {
      height: 100%;
      width: 100%;
    }

    .hp-bar {
      position: relative;
      top: -10px;
      height: 20px;
      overflow-y: visible;

      progress {
        width: 100%;
      }

      .hp-input {
        display: flex;
        justify-content: center;
        position: relative;
        top: -10px;
        * {
          text-align: center;
        }
      }
    }
  }

  .header-fields {
    flex: 4;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    font-family: $font-secondary;
    font-weight: 700;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  .faction-block {
    grid-template-columns: auto 100px;
    gap: 25px;

    h2.faction-name {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      border-bottom: 0;
      input {
        border-bottom-width: 1px;
      }
    }

    button.check {
      height: 30px;
      margin: 0;
      border-style: solid;
      border-color: #777;
      border-width: 1px;
      text-shadow: none;
      font-family: $font-primary;
      font-weight: bold;
    }

    button.check:focus {
      outline: none;
    }
  }
}

nav.sheet-tabs {
  flex: 0;
  border-top-width: 2px;
  border-bottom: none;

  a.item {
    background-color: $back-dark;
    text-shadow: none;
  }

  a.item.active {
    background: none;
    text-shadow: none;
  }
}

.sheet-body {
  .block-header {
    position: relative;

    a.item-add {
      position: absolute;
      top: 7px;
      right: 0;

      i {
        margin-right: 2px;
      }
      i::before {
        position: relative;
        top: 1px;
      }
    }
  }

  .item-header {
    position: relative;

    .item-name {
      display: flex;
      h3 {
        margin: 0 3px;
        width: 100%;
        border: none;
      }
    }

    .item-controls {
      position: absolute;
      top: 5px;
      right: 3px;
    }
  }

  .narrative-block {
    display: grid;
    grid-template-columns: 75px auto;
    gap: 10px;

    .talentsPyramid {
      text-align: center;

      h4 {
        font-weight: bold;
      }

      .resource {
        margin: 20px 0;

        input {
          min-width: 50px;
          border-radius: 7px;
        }

        .resource-label {
          display: block;
          width: 100%;
        }
      }
    }
  }

  .combat {
    .resource-content {
      display: inline;
      i {
        margin-left: 5px;
      }
    }

    .rank{
      margin-left: 3px
    }
  }

  .mystical {
    .resource-content {
      display: inline;
    }
  }

  .riches {
    .editor {
      min-height: 150px;
      padding: 0 5px;
      border: 1px solid var(--color-border-light-primary);
    }
  }

  .description {
    padding-bottom: 25px;

    .grid {
      gap: 35px 10px;

      .biography {
        grid-area: 2 / 2 / span 2 /  auto;
      }

      .editor {
        min-height: 150px;
        padding: 0 5px;
        border: 1px solid var(--color-border-light-primary);
      }
    }
  }
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: calc(100% - 2px);
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}
