<form class="{{cssClass}}" autocomplete="off">
  <header class="items-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="resources flexrow">
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Damage'}}: </label>
          <select name="system.damage">
            <option value="damage-full">{{localize 'ARCHETERICALITE.DamageFull'}}</option>
            <option value="damage-half">{{localize 'ARCHETERICALITE.DamageHalf'}}</option>
            <option value="damage-minimal">{{localize 'ARCHETERICALITE.DamageMinimal'}}</option>
            <option value="damage-cut">{{localize 'ARCHETERICALITE.DamageCut'}}</option>
            <option value="damage-custom">{{localize 'ARCHETERICALITE.DamageCustom'}}</option>
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Elitism'}}: </label>
          <input type="number" name="system.elitism" value="{{system.elitism}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="description">{{localize 'ARCHETERICALITE.NavDescription'}}</a>
    <a class="item" data-tab="attributes">{{localize 'ARCHETERICALITE.NavAttributes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab sidebar-block flexrow" data-group="primary" data-tab="description">
        <div class="info-sidebar">
          <p>{{localize 'ARCHETERICALITE.Quantity'}}: {{system.quantity}}</p>
          <p>{{localize 'ARCHETERICALITE.Price'}}: {{system.price}}</p>
          <p>{{localize 'ARCHETERICALITE.Weight'}}: {{system.weight}}</p>
          <p>{{localize 'ARCHETERICALITE.ArmorPiercing'}}: {{system.armorPiercing}}</p>
          <p>{{localize 'ARCHETERICALITE.Lethality'}}: {{system.lethality}}</p>
          <p>{{localize 'ARCHETERICALITE.Charging'}}: {{system.charging}}</p>
          <p>{{localize 'ARCHETERICALITE.Range'}}: {{system.range}}</p>
        </div>
        <div class="editor-block">
          {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">

      <div class="resources flexrow">
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Quantity'}}:</label>
          <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Price'}}:</label>
          <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Weight'}}:</label>
          <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resources flexrow">
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.ArmorPiercing'}}:</label>
          <input type="number" name="system.armorPiercing" value="{{system.armorPiercing}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Lethality'}}:</label>
          <input type="number" name="system.lethality" value="{{system.lethality}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resources flexrow">
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.TwoHanded'}}</label>
          <input type="checkbox" name="system.twoHanded" value="{{system.twoHanded}}" data-dtype="Boolean"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.WeaponThrowing'}}</label>
          <input type="checkbox" name="system.throwing" value="{{system.throwing}}" data-dtype="Boolean"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.RangeWeapon'}}</label>
          <input type="checkbox" name="system.rangeWeapon" value="{{system.rangeWeapon}}" data-dtype="Boolean"/>
        </div>
      </div>

      <div class="resources flexrow">
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Range'}}:</label>
          <input type="number" name="system.range" value="{{system.range}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Charging'}}:</label>
          <input type="text" name="system.charging" value="{{system.charging}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.RoughSight'}}</label>
          <input type="checkbox" name="system.roughSight" value="{{system.roughSight}}" data-dtype="Boolean"/>
        </div>
      </div>

      <div class="resource">
        <label class="resource-label">{{localize 'ARCHETERICALITE.RollFormula'}}: </label>
        <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String"/>
      </div>
    </div>
  </section>
</form>
